@import "../joqd/__vars.css";
@import "../gorbeh/_variables.css";

$telegram: #527da3;
$telegram-accent: #426482;

$nexus5BackColor: #222222;
$nexus5FrontColor: #050505;
$nexus5SensorColor: #3c3d3d;
$nexus5CameraColor: #3c3d3d;
$nexus5Width: 32rem;
$nexus5Height: 56.8rem;